
.btn {
  display: inline-block;
  color: $color-white;
  font-weight: 600;
  padding: .5em;
  outline: none;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  transition: all 0.5s;
  border: solid 3px transparent;
  cursor: pointer;


  &--green {
    background-color: $color-green;

    &:hover {
      border: solid 3px $color-green;
      background-color: $color-white;
      color: $color-green;
    }
  }

  &-secondary{
    background-color: $color-button-secondary;
  }
  &-success{
    background-color: $color-button-success;
  }
  &-primary{
    background-color: $color-button-primary;
  }
  &-danger{
    background-color: $color-button-danger;
  }

  &-info{
    background-color: $color-button-info;
  }
  &-primary {
    background-color: $color-primary;
  }
}
