.button {
  display: inline-block;
  color: $color-white;
  font-weight: 600;
  padding: .5em;
  width: 100%;
  outline: none;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  transition: all 0.5s;
  border: solid 3px transparent;
  cursor: pointer;


  &--green {
    background-color: $color-green;

    &:hover {
      border: solid 3px $color-green;
      background-color: $white-background;
      color: $color-green;
    }
  }

  &--blue {
    background-color: $main-color;

    &:hover {
      border: solid 3px $main-color;
      background-color: $white-background;
      color: $main-color;
    }
  }
}
