.dropdown {
  position: relative;
  display: inline-block;

  .show {
    display: block !important;
  }

  

  .dropbtn {
    background-color: #3498db;
    color: white;
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;

    &:not(:only-child)::after {
      padding-left: 4px;
      content: " ▾";
    }

    &:hover,
    &:focus {
      background-color: #2980b9;
    }
  }

  .dropdown-content {
    display: none;
    position: absolute;
    margin-top: 6px;
    background: linear-gradient(to bottom right, white, #f8f8f8) !important;
    box-shadow: 0 4px 10px rgba(10, 20, 30, 0.4);
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      left: 30px;
      top: -8px;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid white;
    }

    & > a {
      display: block;
      text-decoration: none;
      padding: 1rem;
      border-top: 2px solid transparent;
      background: transparent;
      color: #4a5666;
      border-bottom: 1px solid #dde0e7;

      &:hover,
      &:focus {
        background: #e7e9ef;
        color: #111;
      }
    }
  }
}
