.header{
  display: flex;
  flex-direction: row;
  background-color: $main-color;
  align-items: center;
  height: 50px;

  & > img{
    width: 30px;
    height: 30px;
    margin-left: rem(20);
  }

  & > p {
    color: $color-gray;
    font-size: 20px;
    font-weight: 500;
    margin-left: rem(10);

  }

}