.cross {
    width: 15px;
    height: 15px;
    opacity: 0.3;
    display: flex;

    &:hover {
      opacity: 1;
    }
    &:before, &:after {
      content: ' ';
      height: 16px;
      width: 2px;
      background-color: #333;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }

    &-red{
      &:before, &:after {
        content: ' ';
        height: 16px;
        width: 2px;
        background-color: $color-red;
      }
    }
  }

  