$border: #b1abab;

.input-control {
  outline: none;
  width: 100%;
  background-color: $white-background;
  border: solid 2px $border;
  height: 42px;
  border-radius: 12px;
  padding: 5px 10px;

  &--not-radius {
    border-radius: 0;
  }

  &::placeholder {
    color: $border;
  }

  &:focus {
    border: solid 2px $main-color;
  }
}
