$border: #b1abab;

.input-control {
  outline: none;
  width: 100%;
  background-color: $color-white;
  border: solid 2px $border;
  height: 42px;
  border-radius: 2px;
  padding: 5px 10px;

  &::placeholder {
    color: $border;
  }

  &-success{
    
    &:focus {
      border: solid 2px $color-green !important;
    }  
  }

  &:focus {
    border: solid 2px $color-primary;
  }
}
