.textarea-control{
  width: 100%;
  background-color: $color-white;
  border: solid 2px $border;
  padding: 5px 10px;
  margin: 0;
  margin-bottom: 20px;


  &:active , &:focus{
    border: solid 2px $color-primary;
  }

}