@mixin img {
  width: 35px;
  height: 35px;
  margin-right: rem(20);
}

.header-back {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.18);
  margin-bottom: rem(15);
  background-color: $white-background;

  .container {
    align-items: center;

    &__logo {
      display: flex;
      flex-direction: row;
      align-items: center;

      & > h1 {
        color: $main-color;
        font-size: 36px;
        margin-right: rem(20);
        margin: rem(15);
      }
      & > h2 {
        margin: rem(15) 0;

        font-size: 36px;
        font-weight: 400;
        color: $color-blue-f;
      }
    }

    &__logout {
      text-align: right;
      color: $color-black;
      font-size: 18px;
      font-weight: 600;
      transition: all 0.4s;

      &:hover {
        color: $main-color;
      }
    }
  }
}

.main-back {
  .container {
    &__sidebar {
      background-color: $black-background;
      padding: 0;

      &__admin-name {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-left: rem(20);

        & div {
          color: $color-white;
          font-size: 20px;
          display: flex;
          flex-direction: row;

          & :nth-child(1) {
            margin-right: rem(8);
          }
        }
        .logo {
          @include img;
        }
      }

      &__property {
        padding: 0;

        & > li {
          text-decoration: none;

          & > a {
            text-decoration: none;

            & > div {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              padding-left: rem(20);
              transition: all 0.6s;

              &:hover {
                background-color: rgba(#e5e5e5, 0.3);
                border-left: 12px solid $main-color;
              }

              & > img {
                @include img;
              }
              & > p {
                color: $color-gray;
                font-size: 24px;
              }
            }
          }
        }
      }
    }
    &__content {
      background-color: wheat;
    }
  }
}
