#install-html{
  background: #ffd6d6;

  #install-body {

    max-width:800px;
    margin:50px auto;
    border:1px solid black;
    border-radius:20px;
    background:white;

    main{
      padding:20px;
    }

    header {
      #logo{
        max-width:400px;
        margin:20px auto;
        display:block;
      }
      nav {
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        overflow: hidden;
        ul {
          padding: 0;
          margin: 0;
          list-style: none;
          width: 100%;
        }
        & ul {
          @media screen and (min-width: $mobile_width) {
            & > li {
              padding: 10px;
              margin-right:25px;
              background: #f1f1f1;
              display: inline-block;
              z-index:1;
              &.active {
                position:relative;
                &:after{
                  z-index:-1;
                  content: "";
                  border-top: 2px solid #c9c9c9;
                  border-right: 2px solid #c9c9c9;
                  width: 40px;
                  height: 40px;
                  right: -15px;
                  transform: rotate(45deg);
                  top: -3px;
                  background: #f1f1f1;
                  position: absolute;
                }
                & ~ li{
                  background:unset;
                }
              }
              & > a {
                padding: 8px 16px;
                display: inline-block;
                text-decoration: none;
                color: #888;
                font-weight: 400;
                text-transform: uppercase;
              }
              &.active > a {
                background-color: #4d4d4d;
                color: #fff;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}