#section-events {
  .nav {
    margin-bottom: 35px !important;
  }
  .list-events {
    margin: auto;
  }

  .search-front-bar{
    margin-bottom: 15px;
  }
}

.event-page {
  .row {
    .btn {
      margin-top: 30px;
    }
    .second-block {
      .display-name {
        margin-top: 0 !important;
      }

      .dtails {
        background-color: #eeeeee;
        padding: 15px 5px;
        width: 100%;
      }
    }
  }
}
