$color-title: #444;
$color-text: #555;

$color-primary: #B00000;
$color-primary-hover: darken(#B00000, 10%);

$color-muted: #b6b6b6;
$color-muted-hover: darken(#E1E1E1, 10%);

$color-light: #E1E1E1;
$color-light-hover: darken(#E1E1E1, 10%);

$color-neutral: #FFF;
