<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="../../public/js/jquery-3.3.1.min.js"></script>
    <script src="../../public/js/back.js"></script>
    <link rel="stylesheet" href="../../public/css/style.css" />
    <title>Admin</title>
  </head>
  <body>
    <header class="header-back">
      <div class="wrapper">
        <div class="container row">
          <div class="container__logo col-lg-6 col-sm-6">

            <div class="toggle-nav">
              <span></span>
            </div>

            <h1>SongFolio</h1>
            <h2>Admin 1.0</h2>
          </div>
          <a
            href="#"
            class="container__logout link col-lg-6 col-sm-6"
            onclick=""
            >Déconexion</a
          >
        </div>
      </div>
    </header>

    <main class="main-back wrapper">
      <div class="container row">
        <nav class="sidebar col-lg-3 col-md-3">
          <div class="sidebar__admin-name">
            <img class="logo" src="../../public/img/user-image.svg" />
            <div>
              <b><p>Ivan</p></b>
              <b><p>Naluzhnyi</p></b>
            </div>
          </div>
          <ul class="sidebar__property">
            <li>
              <a href="#">
                <div>
                  <img src="../../public/img/Home_Icon.svg" />
                  <p>Tableau de board</p>
                </div>
              </a>
              <a href="#">
                <div>
                  <img src="../../public/img/two-overlapped-web-pages.svg" />
                  <p>Pages</p>
                </div>
              </a>
              <a href="#">
                <div>
                  <img src="../../public/img/users-silhouettes.svg" />
                  <p>Utilisateurs</p>
                </div>
              </a>
              <a href="#">
                <div>
                  <img src="../../public/img/comments.svg" />
                  <p>Commentairs</p>
                </div>
              </a>
              <a href="#">
                <div>
                  <img src="../../public/img/music-album.svg" />
                  <p>Albums</p>
                </div>
              </a>
              <a href="#">
                <div>
                  <img src="../../public/img/galerie.svg" />
                  <p>Galerie</p>
                </div>
              </a>
            </li>
          </ul>
        </nav>

        <div class="container__content col-lg-9 col-md-9  col-12 ">sdfsdf</div>
      </div>
    </main>
  </body>
</html>
