<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="../../public/js/jquery-3.3.1.min.js"></script>
    <script src="../../public/js/back.js"></script>
    <link rel="stylesheet" href="../../public/css/style.css" />
    <title>Admin</title>
  </head>
  <body>
    <header class="header-back">
      <div class="wrapper">
        <div class="container row">
          <div class="container__logo col-lg-6 col-sm-6">
            <h1>SongFolio</h1>
            <h2>Admin 1.0</h2>
          </div>
          <a href="#" class="container__logout link col-lg-6 col-sm-6">Déconexion</a>
        </div>
      </div>
    </header>

    <main class="main-back wrapper">
      <div class="container row">
        <nav class="container__sidebar col-lg-3">
          <div class="container__sidebar__admin-name">
            <img class="logo" src="../../public/img/user.svg" />
            <div>
              <p>Ivan</p>
              <p>Naluzhnyi</p>
            </div>
          </div>
          <ul></ul>
        </nav>
        <div class="container__content col-lg-9">sdfsdf</div>
      </div>
    </main>
  </body>
</html>
