@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}

@font-face {
  font-family: 'Questrial';
  font-style: normal;
  font-weight: 400;
  src: local('Questrial'), local('Questrial-Regular'), url(https://fonts.gstatic.com/s/questrial/v8/QdVUSTchPBm7nuUeVf70viFg.ttf) format('truetype');
}


body{
    color: #555555!important;
    font-family: Lato!important;
}

h1, h2, h3, h4, h5{
    color: #444444!important;
    font-family: Questrial!important;
}

main a:not(.btn){
    color: #a80000!important;
}


header{
    background: #ffffff!important;
}
header a{
    color: #717171!important;
}

footer{
    background: #555555!important;
}
footer a{
    color: #c8c8c8!important;
}
footer h1, footer h2, footer h3, footer h4, footer h5{
    color: #808080!important;
}